.overlap-group8 {
  position: relative;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 254, 254, 0.7);
  padding: 50px 0;
}

.rectangle-16 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  max-width: 900px;
  height: 90vh;
  background: white;
  box-shadow: 0px 34px 104px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
}

.closeModal {
  position: absolute;
  top: -30px;
  right: 10px;
  width: 24.5px;
  height: 24.5px;
  z-index: 10;
  cursor: pointer;
}

.project-image {
  background-image: url(https://github.com/Mhdez221993/portfolio/blob/main/src/features/home/icons/project.png?raw=true);
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
}

.thomnail-warpper {
  position: absolute;
  bottom: -28px;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}

.see-live-source {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0 20px;
}

.thomenail1 {
  flex-grow: 1;
  display: flex;
}

.thom-image {
  margin-left: 10px;
}

.see-live-source {
  flex-grow: 1;
}

.see-source {
  background: var(--radical-red);
  color: var(--white);
  border-radius: 60px;
  font-weight: var(--font-size-xxxl);
  font-size: var(--font-size-l);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-left: 30px;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  padding: 50px 40px 0 40px;
  text-align: left;
}

.lorem-ipsum-dolor-si {
  color: var(--storm-gray);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16.8px;
  min-height: 141px;
}

@media only screen and (max-width: 600px){
	.overlap-group8 {
    padding: 30px;
  }
}

@media only screen and (min-width: 1600px){
  .rectangle-16 {
    margin-right: 30%;
  }
}

@media only screen and (min-width: 1850px){
	.rectangle-16 {
    margin-right: 40%;
  }
}
